@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

:root {
  /* Indigo */
  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-200: #c7d2fe;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-700: #4338ca;
  --color-brand-800: #3730a3;
  --color-brand-900: #312e81;

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;

  --color-grey-0: #18212f;
  --color-grey-50: #111827;
  --color-grey-100: #1f2937;
  --color-grey-200: #374151;
  --color-grey-300: #4b5563;
  --color-grey-400: #6b7280;
  --color-grey-500: #9ca3af;
  --color-grey-600: #d1d5db;
  --color-grey-700: #e5e7eb;
  --color-grey-800: #f3f4f6;
  --color-grey-900: #f9fafb;

  --color-blue-100: #075985;
  --color-blue-700: #e0f2fe;
  --color-green-100: #166534;
  --color-green-700: #dcfce7;
  --color-yellow-100: #854d0e;
  --color-yellow-700: #fef9c3;
  --color-silver-100: #374151;
  --color-silver-700: #f3f4f6;
  --color-indigo-100: #3730a3;
  --color-indigo-700: #e0e7ff;

  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;

  --backdrop-color: rgba(0, 0, 0, 0.3);

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.4);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.3);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.4);

  --image-grayscale: 10%;
  --image-opacity: 90%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-y: hidden;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  color: var(--color-title);
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

select:disabled,
input:disabled {
  background-color: var(--color-grey-200);
  color: var(--color-grey-500);
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--color-brand-600);
  outline-offset: -1px;
}

button:has(svg) {
  line-height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

img {
  max-width: 100%;

  /* For dark mode */
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100dvh;
  background-color: var(--color-grey-0);

  display: flex;
  flex-direction: column;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* NAVBAR */

.navbar {
  width: 80%;
  padding: 2rem 0rem;
  margin: 0 auto;
  background-color: var(--color-grey-0);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-container {
  cursor: pointer;
}

.nav-hamburger {
  display: none;
  font-size: 3rem;
  color: var(--color-grey-600);
}

.nav-logo {
  font-size: 2.4rem;
  color: var(--color-grey-600);
  font-weight: 600;
  display: flex;
  gap: 1rem;
}

.nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 8rem;
}

.nav-list-item a {
  color: var(--color-grey-400);
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}

.nav-list-item a:hover {
  color: var(--color-grey-700);
}

.nav-list-item a.active {
  color: var(--color-grey-700);
}

.nav-account {
  height: 2rem;
}

.nav-account svg {
  width: 100%;
  height: 100%;
  color: var(--color-grey-400);
  transition: all 0.3s;
  cursor: pointer;
}

.nav-account svg:hover {
  color: var(--color-grey-700);
}

.nav-context-menu-list {
  background-color: var(--color-grey-0);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
  overflow: hidden;
  z-index: 1000;

  display: flex;
  flex-direction: column;
}

.nav-context-menu-item {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1.4rem 2rem;
  color: var(--color-grey-500);
  cursor: pointer;
  transition: all 0.3s;
}

.nav-context-menu-item:last-child {
  color: var(--color-red-500);

  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-context-menu-item:last-child:hover {
  color: var(--color-red-500);
  background-color: var(--color-red-200);
}

.nav-context-menu-item:hover {
  background-color: var(--color-grey-600);
  color: var(--color-grey-0);
}

.hamburger-menu-container {
  width: 25rem;
  padding: 1rem;
  border-radius: var(--border-radius-lg);
  background-color: var(--color-grey-0);
  color: var(--color-grey-600);
  text-align: center;

  display: flex;
  flex-direction: column;
}

.hamburger-menu-close {
  position: fixed;
  top: 1rem;
  right: 2rem;
  color: var(--color-grey-600);
  font-size: 4.5rem;
}

.hamburger-item {
  font-size: 2rem;
  padding: 3rem 1rem;
  word-spacing: 4px;
  font-weight: 600;
}

.hamburger-item:last-child {
  color: var(--color-red-500);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hamburger-item-signin {
  color: var(--color-grey-600) !important;
}

.hamburger-item:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-100);
}

/***************************************************/
/***************************************************/
/***************************************************/
/* MAIN */
main {
  overflow-y: auto;
  background-color: var(--color-grey-50);
  flex: 1;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

main::-webkit-scrollbar {
  /* WebKit */
  width: 5px;
}

main::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-300);
}

/***************************************************/
/***************************************************/
/***************************************************/
/* SIGN-IN FORM */

.section-profile,
.section-auth {
  height: 100%;

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.profile-container,
.auth-container {
  margin: 0 auto;
  margin-top: 2rem;
  background-color: var(--color-grey-0);
  padding: 2rem;
  width: 50rem;
  border-radius: var(--border-radius-md);
}

.createListing-form,
.profile-form,
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.createListing-field,
.profile-email-field,
.profile-name-field,
.auth-name-field,
.auth-password-field,
.auth-input-field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.createListing-field label,
.profile-email-field label,
.profile-name-field label,
.auth-name-field label,
.auth-password-field label,
.auth-input-field label {
  font-weight: 500;
  color: var(--color-grey-500);
  word-spacing: 0.6rem;
}

.createListing-field textarea,
.createListing-field input,
.profile-email-field input,
.profile-name-field input,
.auth-name-field input,
.auth-password-field input,
.auth-input-field input {
  padding: 1rem 2rem;
  color: var(--color-grey-600);
  border: 1px solid var(--color-grey-300);
  background-color: var(--color-grey-0);
  border-radius: var(--border-radius-md);
  font-size: 1.8rem;
  width: 100%;
}

.createListing-field input[type="radio"] {
  width: unset;
}

.createListing-field textarea:focus,
.createListing-field input:focus,
.profile-email-field input:focus,
.profile-name-field input:focus,
.auth-name-field input:focus,
.auth-password-field input:focus,
.auth-input-field input:focus {
  outline: 2px solid var(--color-brand-600);
  outline-offset: -1px;
}

.auth-passowrd-input-container {
  position: relative;
}

.auth-password-field svg {
  position: absolute;
  top: 1rem;
  right: 1.3rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  color: var(--color-grey-600);
}

.auth-register {
  display: flex;
  justify-content: space-between;
}

.auth-register p,
.auth-register a {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-grey-600);
}

.auth-register p a,
.auth-register a {
  color: #888;
  transition: all 0.3s;
}

.auth-register p a {
  margin-left: 1rem;
}

.auth-register p a:hover,
.auth-register a:hover {
  color: var(--color-grey-600);
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.createListing-form button,
.profile-submit-btn,
.auth-buttons button {
  padding: 1.2rem 2rem;
  cursor: pointer;
  text-align: center;
  border-radius: var(--border-radius-md);
  border: none;
  color: var(--color-grey-600);
  transition: all 0.3s;
  font-weight: 500;
  word-spacing: 0.2rem;
}

.createListing-form button,
.profile-submit-btn,
.auth-buttons button:first-child {
  background-color: var(--color-brand-600);

  display: flex;
  justify-content: center;
}

.createListing-form button:hover,
.profile-submit-btn:hover,
.auth-buttons button:first-child:hover {
  background-color: var(--color-brand-700);
}

.auth-buttons button:last-child {
  background-color: var(--color-red-700);
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.auth-buttons button:last-child:hover {
  background-color: var(--color-red-800);
}

.auth-buttons button:last-child span svg {
  background-color: #fff;
  border-radius: 50%;
  font-size: 2rem;
}

.auth-buttons-separator {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.auth-buttons-separator p {
  margin: 0 2rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--color-grey-600);
}

.auth-buttons-separator:after,
.auth-buttons-separator:before {
  content: "";
  border-top: 1px solid var(--color-grey-300);
  flex: 1;
}

.form-error {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-red-500);
  letter-spacing: 0.6px;
}

.form-input-error {
  outline: 1px solid var(--color-red-500);
  border: none !important;
}

.form-input-error:focus {
  outline: 1px solid var(--color-red-500) !important;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* CREATE LISTING FORM */

.createListing-container {
  width: 80rem;
  padding: 4rem;
  background-color: var(--color-grey-0);
  border-radius: var(--border-radius-md);

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section-createListing {
  padding: 2rem 0rem;
  overflow: auto;

  display: flex;
  justify-content: center;
}

.createListing-heading {
  color: var(--color-grey-600);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: center;
  word-spacing: 0.2rem;
  background-color: var(--color-grey-50);
  padding: 2rem 0rem;
  border-radius: var(--border-radius-md);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.createListing-field:not(:last-child) {
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--color-grey-100);
}

.createListing-field input[type="file"] {
  font-size: 1.4rem;
}

.createListing-field input::file-selector-button {
  font-size: 1.4rem;
  color: var(--color-grey-600);
  background-color: var(--color-grey-50);
  border: none;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: var(--border-radius-md);
}

.field-btn-grp {
  display: flex;
  gap: 4rem;
}

.btn-grp-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.createListing-form button {
  align-items: center;
  gap: 1rem;
}

.createListing-form button span svg {
  font-size: 2rem;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* MY LISTINGS PAGE */

.section-myListing {
  display: flex;
  justify-content: center;
  overflow: auto;
  padding: 2rem 0rem;
}

.myListing-container {
  width: 80%;
  padding: 2rem;
  border-radius: var(--border-radius-md);
  background-color: var(--color-grey-0);
}

.myListing-heading {
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-grey-600);
  border-radius: var(--border-radius-md);
  word-spacing: 1rem;
  background-color: var(--color-grey-50);
}

.myListing-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50%;
  gap: 2rem;
  padding: 2rem 0rem;
}

.myListing-list-item {
  border-radius: var(--border-radius-md);
  background-color: var(--color-grey-50);
  color: var(--color-grey-600);
  overflow: hidden;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.myListing-item-address {
  color: var(--color-grey-500);
  padding: 0rem 1rem;

  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.myListing-item-address span:last-child {
  font-size: 1.4rem;
  padding: 0.4rem 0rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myListing-item-img {
  height: 60%;
  position: relative;
}

.myListing-item-img img {
  height: 100%;
  width: 100%;
}

.myListing-item-name {
  padding: 0.8rem 1rem;
  font-size: 1.8rem;
  font-weight: 500;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myListing-item-price {
  padding: 0rem 1rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.myListing-beds-baths {
  padding: 0rem 1rem;
  font-size: 1.4rem;
  color: var(--color-grey-500);
  word-spacing: 0.4rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.myListing-beds-baths p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.myListing-list-item:hover .listing-overlay {
  visibility: visible;
}

.listing-overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0.6rem);
  -webkit-backdrop-filter: blur(0.6rem);
  z-index: 2;
  transition: all 0.1s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.listing-overlay-btns {
  background-color: var(--color-grey-200);
  padding: 1rem;
  font-size: 2.4rem;
  border-radius: 50%;
  border: 1px solid var(--color-grey-200);
  transition: all 0.3s;
}

.listing-overlay-btns:hover {
  background-color: var(--color-grey-300);
}

.myListing-empty {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.myListing-empty p {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-grey-600);
}

.myListing-empty button {
  background-color: var(--color-grey-0);
  border: none;
  border-radius: var(--border-radius-md);
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: var(--color-grey-500);

  display: flex;
  align-items: center;
  gap: 1rem;
}

.myListing-empty button:hover {
  color: var(--color-grey-600);
}

.myListing-empty button svg {
  font-size: 2.4rem;
}

.myListing-item-time {
  font-size: 1.2rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--color-grey-600);
  z-index: 1;
  background-color: var(--color-grey-100);
  padding: 1rem 2rem;
  border-radius: var(--border-radius-md);
}

.delete-listing-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  z-index: 50;

  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-listing-container {
  background-color: var(--color-grey-50);
  width: 40%;
  padding: 2rem 1rem;
  border-radius: var(--border-radius-md);

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.delete-listing-container p {
  line-height: 1.6;
  font-size: 2rem;
  color: var(--color-grey-600);
  text-align: center;
}

.delete-listing-btns {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.delete-listing-btns button:first-child {
  padding: 1.2rem 2rem;
  border-radius: 2rem;
  font-weight: 600;
  background-color: var(--color-red-600);
  color: var(--color-grey-600);
  border: none;
  transition: all 0.3s;
}

.delete-listing-btns button:first-child:hover {
  background-color: var(--color-red-500);
}

.delete-listing-btns button:last-child {
  padding: 1.2rem 2rem;
  border-radius: 2rem;
  font-weight: 600;
  background-color: var(--color-grey-50);
  color: var(--color-grey-600);
  border: 1px solid var(--color-grey-600);
  transition: all 0.3s;
}

.delete-listing-btns button:last-child:hover {
  background-color: var(--color-grey-600);
  color: var(--color-grey-50);
}

/***************************************************/
/***************************************************/
/***************************************************/
/* LISTING PAGE */
.section-listing {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 1rem;
  padding-bottom: 4rem;
}

.listing-info {
  width: 100%;

  display: flex;
  gap: 4rem;
}

.listing-imgs {
  flex: 1;
  height: 50rem;
}

.listing-details {
  flex: 1;
  padding: 2rem 4rem;
  background-color: var(--color-grey-0);
  border-radius: var(--border-radius-md);

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.listing-name {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-grey-600);
}

.listing-address {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-grey-400);
}

.listing-price-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.listing-price {
  color: var(--color-grey-600);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2.4rem;
}

.listing-original-price {
  text-decoration: line-through;
  font-size: 2rem;
  color: var(--color-grey-400);
  font-weight: 500;
  letter-spacing: 1px;
}

.listing-discount-percentage {
  color: var(--color-grey-600);
  letter-spacing: 1px;
}

.listing-description {
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--color-grey-500);
}

.listing-amenities {
  color: var(--color-grey-500);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.listing-amenities-item {
  word-spacing: 0.4rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.listing-map {
  margin-top: 4rem;
  padding: 2rem 2rem;
  background-color: var(--color-grey-0);
  border-radius: var(--border-radius-md);
}

.leaflet-container {
  height: 40rem;
  border-radius: var(--border-radius-md);
}

.listing-contact-container {
  margin-top: 4rem;
  border-radius: var(--border-radius-md);
  height: 20rem;
  background-color: var(--color-grey-0);

  display: flex;
  justify-content: center;
  align-items: center;
}

.listing-contact-btn {
  padding: 1rem 2rem;
  border-radius: var(--border-radius-md);
  background-color: var(--color-grey-50);
  border: none;
  color: var(--color-grey-600);
  font-size: 2rem;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.listing-contact-btn span svg {
  font-size: 2.4rem;
}

.listing-contact-btn:hover {
  background-color: var(--color-grey-100);
}

.listing-contact-form-container {
  padding: 2rem 2rem 1rem 2rem;
  margin-top: 4rem;
  border-radius: var(--border-radius-md);
  background-color: var(--color-grey-0);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-form-heading {
  color: var(--color-grey-500);
  font-weight: 600;
  word-spacing: 0.4rem;
}

.contact-form-heading span {
  color: var(--color-grey-600);
}

.listing-contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listing-contact-form textarea {
  padding: 1rem;
  color: var(--color-grey-600);
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-300);
  border-radius: var(--border-radius-md);
}

.listing-contact-form textarea::placeholder {
  color: var(--color-grey-400);
}

.listing-contact-form a {
  padding: 2rem 2rem;
  width: 100%;
  color: var(--color-grey-600);
  font-weight: 600;
  border-radius: var(--border-radius-md);
  background-color: var(--color-grey-50);
  transition: all 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.listing-contact-form a:hover {
  background-color: var(--color-grey-100);
}

.disable-link {
  pointer-events: none;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* HOME */

.section-home {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 1rem;
  padding-bottom: 4rem;
}

.home-image-slider {
  height: 40rem;
}

.home-offers-container {
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.offers-heading {
  color: var(--color-grey-600);
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.offers-show-more {
  font-size: 1.4rem;
  text-decoration: underline;
  color: var(--color-grey-400);
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 1rem;
}

.offers-show-more:hover {
  color: var(--color-grey-500);
}

.offers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.offers-list .myListing-list-item {
  background-color: var(--color-grey-0);
}

/***************************************************/
/***************************************************/
/***************************************************/
/* IMAGE SLIDER */
.slider-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.slider-main {
  flex: 1;
  position: relative;
}

.slider-slides {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border-radius: var(--border-radius-md);
}

.slider-navigation {
  height: 10%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.slider-navigation-item {
  width: 20%;
  height: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border-radius: var(--border-radius-md);
  cursor: pointer;
  transition: all 0.3s;
}

.slider-navigation-item.active {
  outline: 2px solid var(--color-grey-600);
}

.slider-navigation-item:hover {
  transform: scale(1.1);
}

.slider-right,
.slider-left {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 1rem 1.1rem;
  background-color: var(--color-grey-100);
  border-radius: 50%;
  font-size: 2.4rem;
  color: var(--color-grey-600);
  cursor: pointer;
  transition: all 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-right:hover,
.slider-left:hover {
  background-color: var(--color-grey-200);
}

.slider-left {
  left: -2rem;
}

.slider-right {
  right: -2rem;
}

.slider-listing-name {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.4rem;
  background-color: var(--color-grey-100);
  color: var(--color-grey-600);
  border-bottom-right-radius: 50rem;
  padding: 1rem 2rem;
}

.slider-listing-price {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.4rem;
  background-color: var(--color-grey-100);
  color: var(--color-grey-600);
  border-top-left-radius: 50rem;
  padding: 1rem 2rem;
}

.slider-copy {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--color-grey-600);
  background-color: var(--color-grey-100);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-copy:hover {
  background-color: var(--color-grey-200);
}

/***************************************************/
/***************************************************/
/***************************************************/
/* OFFERS PAGE */

.section-offers {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 1rem;
  padding-bottom: 4rem;
}

.offer-listing-heading {
  font-size: 2.4rem;
  color: var(--color-grey-600);
  background-color: var(--color-grey-0);
  border-radius: var(--border-radius-md);
  padding: 2rem 1rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.offer-fetchmore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-fetchmore button {
  margin-top: 4rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: var(--color-grey-600);
  background-color: var(--color-grey-0);
  border-radius: var(--border-radius-md);
  transition: all 0.3s;
  border: none;
}

.offer-fetchmore button:hover {
  background-color: var(--color-grey-100);
}

/***************************************************/
/***************************************************/
/***************************************************/
/* LOADER */

.loader {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid;
  border-color: #fff #0000;
  animation: l1 1s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

/***************************************************/
/***************************************************/
/***************************************************/
/* FULL PAGE LOADER */
.fullpage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0.2rem);

  display: flex;
  justify-content: center;
  align-items: center;
}

.fullpage .loader {
  width: 10rem;
  border-width: 1.5rem;
}

/***************************************************/
/***************************************************/
/***************************************************/
/* RESPONSIVE */

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
  .myListing-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-home {
    width: 90%;
  }

  .section-listing {
    width: 90%;
  }
}

/* lg */
@media (max-width: 1024px) {
  .myListing-container {
    width: 90%;
  }

  .offers-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .offers-list .myListing-list-item {
    height: 50rem;
  }

  .offers-list .myListing-list-item .myListing-item-address span:last-child {
    font-size: 1.6rem;
  }

  .offers-list .myListing-list-item .myListing-item-name {
    font-size: 2rem;
  }

  .offers-list .myListing-list-item .myListing-item-price {
    font-size: 2.4rem;
  }

  .offers-list .myListing-list-item .myListing-beds-baths {
    font-size: 1.6rem;
  }

  .offer-listing-heading {
    font-size: 2rem;
  }

  .delete-listing-container {
    width: 50%;
  }

  .section-listing {
    width: 95%;
  }

  .listing-price {
    font-size: 2rem;
  }

  .listing-original-price {
    font-size: 1.6rem;
  }
}

/* md */
@media (max-width: 768px) {
  .myListing-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30%;
  }

  .myListing-container {
    width: 95%;
  }

  .offers-list {
    gap: 2rem;
  }

  .section-home {
    width: 95%;
  }

  .offers-list .myListing-list-item {
    height: 45rem;
  }

  .offers-list .myListing-list-item .myListing-item-address span:last-child {
    font-size: 1.4rem;
  }

  .offers-list .myListing-list-item .myListing-item-name {
    font-size: 1.8rem;
  }

  .offers-list .myListing-list-item .myListing-item-price {
    font-size: 2rem;
  }

  .offers-list .myListing-list-item .myListing-beds-baths {
    font-size: 1.4rem;
  }

  .createListing-container {
    width: 65rem;
  }

  .delete-listing-container {
    width: 60%;
  }

  .listing-info {
    flex-direction: column;
  }

  .listing-imgs {
    flex: none;
  }

  .listing-details {
    flex: none;
  }
}

/* sm */
@media (max-width: 640px) {
  .myListing-heading {
    font-size: 2rem;
  }

  .myListing-list {
    grid-template-rows: 35%;
  }

  .myListing-item-address {
    font-size: 1.2rem;
  }

  .myListing-item-name {
    font-size: 1.6rem;
  }

  .myListing-item-price {
    font-size: 1.8rem;
  }

  .offers-list .myListing-list-item {
    height: 40rem;
  }

  .section-offers {
    width: 90%;
  }

  .createListing-container {
    width: 55rem;
  }

  .delete-listing-container {
    width: 75%;
  }

  .navbar {
    justify-content: space-between;
    width: 90%;
  }

  .nav-list {
    display: none;
  }

  .nav-hamburger {
    display: block;
  }
}

/* xs */
@media (max-width: 475px) {
  .myListing-container {
    width: 90%;
  }

  .myListing-list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20%;
  }

  .myListing-heading {
    font-size: 1.8rem;
  }

  .offers-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .slider-left,
  .slider-right {
    font-size: 2rem;
  }

  .slider-left {
    left: -1.6rem;
  }

  .slider-right {
    right: -1.6rem;
  }

  .profile-container,
  .auth-container {
    width: 35rem;
  }

  .auth-register p,
  .auth-register a {
    font-size: 1.2rem;
  }

  .auth-register p {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .auth-register p a {
    margin-left: 0;
  }

  .auth-form {
    gap: 3rem;
  }

  .myListing-empty p {
    font-size: 2rem;
  }

  .createListing-container {
    padding: 3rem;
  }

  .field-btn-grp {
    flex-direction: column;
    gap: 2rem;
  }

  .delete-listing-container {
    width: 90%;
  }

  .delete-listing-container p {
    font-size: 1.8rem;
  }

  .listing-name {
    font-size: 2.4rem;
  }

  .listing-price {
    font-size: 2rem;
  }

  .listing-address {
    line-height: 1.6;
  }

  .listing-price-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
  }
}
